*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 700px;
  height: 300px;
  margin: 50px auto;
  padding: 10px;
  border : 4px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;

}

.container > div{
  height: 40%;
  width: 20%;
  margin: 5px;
  border : 2px solid black;
  border-radius: 5px;

  text-align: center;
  font-size : 30px;
  font-weight: bold;
  line-height: 300%;

  /*  배경 이미지 크기 맞춤 */
  background-size: cover;
  background-position: center;
}


#cursorImage{
  /* 이미지의 width/hegith 중 한 방향만 지정하면 
    나머지 방향을 같은 비율로 조정됨
  */
  width: 80px;

  /* 다른 요소와 겹칠 수 있게 설정 */
  position: absolute;

  /* 화면 밖으로 숨김 */
  left : -100px;
}



